DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=redos.cs.petrsu.ru,127.0.0.1,localhost

POSTGRES_DB=app1
POSTGRES_USER=app1user
POSTGRES_PASSWORD=app1pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

